Resoluções OJ/codeforces/Rounds/642 div3/template.cpp
Resoluções OJ/codeforces/Rounds/642 div3/1.in
Resoluções OJ/Neps Academy/a.in
Resoluções OJ/Neps Academy/b.in
Resoluções OJ/Neps Academy/*.in
Resoluções OJ/spoj/in.in
Resoluções OJ/Neps Academy/erro
Resoluções OJ/Neps Academy/exe
Resoluções OJ/AtCoder/ABC 168/erro
Resoluções OJ/AtCoder/ABC 168/exe
Resoluções OJ/Neps Academy/neps.cpp
Resoluções OJ/AtCoder/ABC 168/template.cpp
Resoluções OJ/AtCoder/ABC 168/*.in
Resoluções OJ/uri/PARADIGMAS/in.in
Resoluções OJ/uri/AD-HOC/erro
Resoluções OJ/uri/AD-HOC/exe
Resoluções OJ/uri/AD-HOC/in.in
Resoluções OJ/uri/*.in
Meu-Codebook/Avançado/in.in
